.main {
  padding: 20px;
  border: 1px solid #333;
}

.header {
  display: flex;
  justify-content: space-between;
}

.location {
  font-weight: 900;
  font-size: 1.8rem;
  margin: 0;
}

.weather {
  display: flex;
  justify-content: flex-end;
}

.tempMin {
  font-size: 1.8rem;
  margin-right: 8px;
}

.tempMax {
  font-size: 3.8rem;
  font-weight: 900;
  position: relative;
  top: -0.4rem;
  margin-right: 12px;
}

.icon { 
  fill: currentColor;
  margin-right: -10px;
  position: relative;
  top: -20px;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: -24px;
  
  &, & > svg {
    width: 80px;
    height: 80px; 
  }
}

.summary {
  display: none;
  height: 80px;
  margin: 0;
}

.meta {
  font-size: 1.2rem;
  color: #aaa;
  display: flex;
  justify-content: space-between;
}

.metaItem {
  width: 33.3%;

  &:nth-child(2) { text-align: center; }
  &:nth-child(3 ) { text-align: right; }
}

.windCompass {
  display: inline-block;
  fill: currentColor;
  height: 12px;
  left: -18px;
  margin-right: 7px;
  position: relative;
  top: -13px;
  width: 12px;
  
  & > svg {
    width: 40px;
    height: 40px;
    position: absolute;
  }
}
.abbr[title] {
  border-bottom: 0;
  text-decoration: none;
}