.main {
  user-select: none;

  &::before {
    content: '';
    height: 100%;
    width: 1px;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 50%;
  }
}

.cardTH,
.cardNL {
  position: absolute;
}

.cardTH {
  top: 20px;
  left: 20px;
}

.cardNL {
  bottom: 20px;
  right: 20px;
}